
h1{ color:rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;
    font-size: 250%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    margin: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    padding-top: 500px;
    text-align: center;
}
#btn{
    background-color:rgb(70, 64, 236);
    margin: 10px;
    --padding:10px;
    padding: var(--padding);
     background-color: #4793ea;
      transition: box-shadow 0.25s;
    color:rgb(255, 255, 255);
    text-decoration: none;
    border:20px;
    border-radius:10%;
}
body{
    background-color:rgb(22, 86, 236);

}
